*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none
}
.box{
    width: 100%;
    height: calc(100vh - 80px);
}
.menu-l{
    display: flex;
     
    float: left;
    flex-wrap: wrap;
    background-color: aqua;
    height: calc(100vh - 80px);
    width: 200px;
}
main{
    float: left;
    background-color: blueviolet;
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
}
footer{
    width: 100%;
    height: 80px;
    background-color: burlywood;
}
/* fine blocchi */
/* menù */
.logo{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    /* height: 50px; */
    background-color: chartreuse;
}
#logo-s{
    width: 50px;
    height: auto;
    margin: 5px;
}

.home{
    
    width: 100%;
    /* height: 50px; */
    background-color: darkgoldenrod;
}
.playlist{
    width: 200px;
    /* height: 50px; */
    background-color: red;
    padding: 5px;
    overflow:auto ;
}
.grosso{
    font-size: 25px;
    margin-right: 2px;
}
.bottom-menu{
    display: flex;
    width: 100%;
    /* height: 50px; */
    background-color: green;
    flex-direction: column-reverse;
    min-height: 50px;
}
li{
    display: flex;
    align-items: center;
}
#casa{
    width: 50px;
}
/* footerr  */
footer{
    display: flex;
}
.footer-l{
    width: 20%;
    background-color: ivory;
}
.footer-c{
    width: 60%;
    background-color: lightcoral;
}
.footer-r{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    background-color: lightgreen;
    height: 100%;
}
.linea{
    width: 70px;
    height: 3px;
    background-color: lime;
    
}
.linea-contenitore{
    position: relative;
    width: 70px;
    height: 3px;
}
.linea-2{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30px;
    height: 3px;
    background-color: navy;
}

